body{
    overflow: hidden;
}

.red-background-img{
background-position:center;
background-size: cover;
flex:0 0!important;
margin:0;
}
.tree-background-img{
    background-position:center;
    background-size: cover;
    flex:0 0!important;
    margin:0;
}

.image-container {
    padding:0!important;
    max-width:1920px!important;
    position:absolute;
}
.image-row{
    --bs-gutter-x:0!important;
}

.text-container{
    position:relative;
    top:400px;

}

.explore-text{
    font-size: 224px;
    color: #fff;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 5.6px;
    width: 793px;
    height: 263px;
    line-height: normal;
    text-align: center;
    position: relative;
    left: 10%;
}

.more-details{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;;
    position: relative;
    left:11%;
    top:11px;
}

.more-details-text{
width: 148px;
height: 29px;
color: #ffffff;
font-family: "Arial MT";
font-size: 25px;
font-style: normal;
letter-spacing: 0.62px;
line-height: normal;
text-align: start;
margin-top:10px;
margin-left:10px;
}

.social-container{
    display:flex;
    justify-content: flex-end;
    max-width:1920px!important;
    position: relative;
    top:450px;
    left:75px;
}

.social-icons{
z-index:100;
padding:5px;
}

